In [ ]:
import pandas as pd
from dateutil import parser

# Load the CSV file
data = pd.read_csv('/content/drive/MyDrive/Thesis datasets/sales_data_sample - Copy.csv', encoding='latin1')

# Combine 'First Name' and 'Last Name' into a new 'Full Name' column
data['Full Name'] = data['Contact First Name'] + ' ' + data['Contact Last Name']

# Display the updated Data
print(data)

# Save the updated Datamodel to a new CSV file
data.to_csv('output.csv', index=False)
print("\nUpdated CSV file saved as 'output.csv'")

      Order No  Quantity Ordered  Price Each  Orderline Number    Sales  \
0        10107                30       95.70                 2  2871.00
1        10107                30       95.70                 2  2871.00
2        10121                34       81.35                 5  2765.90
3        10134                41       94.74                 2  3884.34
4        10145                45       83.26                 6  3746.70
...        ...               ...         ...               ...      ...
2849     10350                20      100.00                15  2244.40
2850     10373                29      100.00                 1  3978.51
2851     10386                43      100.00                 4  5417.57
2852     10397                34       62.24                 1  2116.16
2853     10414                47       65.52                 9  3079.44

     Order Date    Status  QTR_ID  Month_ID  Year_ID  ... Address Line2  \
0     2/24/2003   Shipped       1         2     2003  ...           NaN
1     2/24/2003   Shipped       1         2     2003  ...           NaN
2      5/7/2003   Shipped       2         5     2003  ...           NaN
3      7/1/2003   Shipped       3         7     2003  ...           NaN
4     8/25/2003   Shipped       3         8     2003  ...           NaN
...         ...       ...     ...       ...      ...  ...           ...
2849  12/2/2004   Shipped       4        12     2004  ...           NaN
2850  1/31/2005   Shipped       1         1     2005  ...           NaN
2851   3/1/2005  Resolved       1         3     2005  ...           NaN
2852  3/28/2005   Shipped       1         3     2005  ...           NaN
2853   5/6/2005   On Hold       2         5     2005  ...           NaN

          City State Postal Code  Country Territory Contact Last Name  \
0          NYC    NY       10022      USA       NaN                Yu
1          NYC    NY       10022      USA       NaN                Yu
2        Reims   NaN       51100   France      EMEA           Henriot
3        Paris   NaN       75508   France      EMEA          Da Cunha
4     Pasadena    CA       90003      USA       NaN             Young
...        ...   ...         ...      ...       ...               ...
2849    Madrid   NaN       28034    Spain      EMEA            Freyre
2850      Oulu   NaN       90110  Finland      EMEA         Koskitalo
2851    Madrid   NaN       28034    Spain      EMEA            Freyre
2852  Toulouse   NaN       31000   France      EMEA            Roulet
2853    Boston    MA       51003      USA       NaN           Yoshido

     Contact First Name Deal Size         Full Name
0                  Kwai     Small           Kwai Yu
1                  Kwai     Small           Kwai Yu
2                  Paul     Small      Paul Henriot
3                Daniel    Medium   Daniel Da Cunha
4                 Julie    Medium       Julie Young
...                 ...       ...               ...
2849              Diego     Small      Diego Freyre
2850             Pirkko    Medium  Pirkko Koskitalo
2851              Diego    Medium      Diego Freyre
2852            Annette     Small    Annette Roulet
2853               Juri    Medium      Juri Yoshido

[2854 rows x 26 columns]

Updated CSV file saved as 'output.csv'